@import "tailwindcss";



/* Enable class-based dark mode */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
}


[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}
